  <div style="background-color:peachpuff; font-weight:bold; height:60px; font-size:130%; line-height:60px; ">
    Pladuce
  </div>
  
  <div style="max-width:700px;">

    <div>
      ━━━━━━□■□　退会申請内容　□■□━━━━━━
    </div>
    
    <div>
      ユーザーID：【<%= @user.id %>】
    </div>
    <div>
      ユーザーネーム：【<%= @user.name %>】
    </div>
    <div>
      メールアドレス：【<%= @user.email %>】
    </div>
    <div>
      退会理由：<%= @quit.content %>
    </div>
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    
  </div>
  
  <div style="background-color:peachpuff; font-size:11px; height:80px; line-height:80px; margin-top:20px; ">
    © pladuce. All rights reserved.
  </div>