  <div style="background-color:peachpuff; font-weight:bold; height:60px; font-size:130%; line-height:60px; ">
    Pladuce
  </div>
  
  <div style="max-width:700px;">
  
    <div>
      <h3>退会申請を承りました。</h3>
    </div>
    
    ※このメールはシステムからの自動返信です。
    
    <p>以下の内容で退会申請を受け付けいたしました。<br>
    退会後、アカウントが完全に削除されるまで最大48時間かかります。<br>
    今しばらくお待ちください。</p>

    <div>
      ━━━━━━□■□　退会申請内容　□■□━━━━━━
    </div>
    
    <div>
      お名前：【<%= @user.name %>】様
    </div>

    <div>
      退会理由：<%= @quit.content %>
    </div>
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  

    <p style="font-size:11px; margin-top:50px;">
    ※操作・手続きをした覚えがないがメールが届いた場合<br>
    Pladuceアカウントをあなた以外の第三者が使用した可能性があります。<br>
    サポートで状況を確認・調査いたしますので、お手数ですが、下部の「お問い合わせ」よりその旨をご連絡ください。
    </p>
    <%= link_to "お問い合わせ", contact_url, :style=>"text-decoration:none;"  %>
    
  </div>
  
  <div style="background-color:peachpuff; font-size:11px; height:80px; line-height:80px; margin-top:20px; ">
    © pladuce. All rights reserved.
  </div>
