  <div style="background-color:peachpuff; text-align:center; font-weight:bold; height:60px; font-size:130%; line-height:60px; ">
    Pladuce
  </div>
  
  <div style="text-align:center;">
    <div>
      <h3><%= @user.name %> さんが【<%= @plan.plan_title %>】をお気に入りに追加しました!!</h3>
    </div>
  

    <div style="position:relative; display:inline-block; padding:0.25em 0.5em; background: #03A9F4; border:solid 1px #0f9ada; border-radius:4px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.2); text-shadow: 0 1px 0 rgba(0,0,0,0.2); ">
      <%= link_to "ログインする", login_url, :style=>"color:white; text-decoration:none; font-weight:bold;"  %>
    </div>

    <p style="font-size:11px; margin-top:20px;">
    ※本メールにお心当たりのない方は、大変お手数ではございますが、メールを破棄してくださいますようお願い申し上げます。
    </p>
  </div>
  
  <div style="background-color:peachpuff; text-align:center; font-size:11px; height:80px; line-height:80px; margin-top:20px; ">
    © pladuce. All rights reserved.
  </div>