  <div class="container">
    <% breadcrumb :contact %>
    <%= render "layouts/breadcrumbs" %>
    <div class="mt-5 text-center">
      
      <h2>お問い合わせ送信完了</h2>
      
      <p>お問い合わせいただきありがとうございました。</p>
      
      <p>お問い合わせ内容につきまして、担当者が確認を行い順次回答を致しますので今しばらくお待ちください。</p>
    </div>
    
    <div class="text-center">
      <div class="btn btn-info mt-4 mb-5">
        <%= link_to "トップページへ", root_path, :style=>"color:white;"  %>
      </div>
    </div>
    
  </div>