  <div class="container">
    <div class="mt-5 h3 text-center">
      運営会社
    </div>
    
    <div class="offset-md-3 col-md-6 mt-3 company">
      <p>社名：　　　　Pladuce.inc</p>
      <p>設立：　　　　2020年1月1日</p>
      <p>事業内容：　　メディア事業┃WEBアプリの開発・運営</p>
      <p>お問い合わせ： info@pladuce.com</p>
    </div>
    
  </div>