  <div class="container">
    
    <div class="mt-4 h3 bold">
      よくある質問
    </div>
    
    <div class="faq mt-4">
      会員登録は無料ですか？
    </div>
      <div class="mt-2">
        はい、Pladuceはすべて無料でご利用いただけるソーシャルコミュニティプラン共有サイトです。<%= link_to "【会員登録する】", signup_path, :style => "color:hotpink;" %>
      </div>
      
      <div class="faq mt-4">
        メールアドレスの変更はどのように行えばいいですか？
      </div>
      <div class="mt-2">
        マイページの【アカウント情報変更】よりメールアドレスとパスワードの変更が可能です。
      </div>
      
      <div class="faq mt-4">
        パスワードを忘れた場合は？
      </div>
      <div class="mt-2">
        パスワードをお忘れの際は、ログイン画面下部にある【パスワードを忘れた方はこちら】よりパスワードの再発行を行ってください。
      </div>

      <div class="faq mt-4">
        お気に入りってどんな機能？
      </div>
      <div class="mt-2">
        プランナーが投稿したプランをお気に入りに登録する事で、マイページの[お気に入り]からいつでもそのプランを見る事が可能になります。<br>
        お気に入り登録するには、プランページにある「ハートのマーク」をクリックしてください。<br>
        お気に入りを解除したい場合は再度「ハートのマーク」をクリックするすることで、お気に入りが解除されます。<br>
        お気に入りは会員登録するとご利用頂ける機能になります。
      </div>
      
      <div class="faq mt-4">
        Pladuceを退会するには？
      </div>
      <div class="mt-2">
        こちらの<%= link_to "【退会する】", quit_path, :style => "color:hotpink;" %>より退会申請を行ってください。完全にアカウントが削除されるまで最大48時間かかります。
      </div>
      
      <div class="faq mt-4">
        その他のご質問に関して
      </div>
      <div class="mt-2">
        お気軽に下記お問い合わせフォームよりお問い合わせください。<br>
        <%= link_to "【お問い合わせ】", contact_path, :style => "color:hotpink;" %>
      </div>

  </div>