  <div class="container">
    <div class="mt-4 h3">
      プライバシーポリシー
    </div>
    <div class="medium">
      Pladuce（以下「当社」といいます）は、当社のサービス（以下「本サービス」といいます）において本サービスの利用する全ての方（以下「利用者」といいます）のプライバシーを尊重するために、利用者の個人情報の適切な取り扱いに取り組んでまいります。<br>
    </div>
    
    <div class="bold mt-3">【第1条 個人情報の定義】</div>
    <div class="medium mt-1">
      個人情報とは、本サービスを通じて利用者から取得する氏名、メールアドレス、パスワード、会員ID、その他の利用者個人を識別できる情報のことを指します。収集する個人情報は、利用者から本サービスにてご登録・ご提供いただく情報に限られます。
    </div>
    <div class="bold mt-3">【第2条 個人情報の利用目的】</div>
    <div class="medium mt-1">
      当社は、利用者の個人情報を以下の目的で利用することができるものとします。<br>
      本サービスおよびその他本サービスに関連する情報の提供のため<br>
      利用者の本人確認のため<br>
      本サービスの運営上必要な事項の通知（電子メールによるものを含むものとします。）<br>
      当社および第三者の商品等の広告または宣伝（電子メールによるものを含むものとします。）<br>
      本サービスが利用者に有用だと思われるキャンペーン等のご案内を含むメールマガジンの送信<br>
      個人を識別できない形式に加工した上での統計情報の作成および利用<br>
      本サービスの新規開発に必要なデータの解析や分析<br>
      利用者の行動、性別、アクセス履歴などを用いたターゲティング広告の配信<br>
      契約や法律等に基づく権利の行使や義務の履行<br>
      アフターサービス、各種問い合わせ対応のため
    </div>
    <div class="bold mt-3">【第3条 個人情報の共有および第三者提供】</div>
    <div class="medium mt-1">
      当社は、原則として、事前に利用者の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を利用または第三者に共有することはありません。ただし、以下に定める場合には、利用者の同意を得ずに第三者に提供できるものとし、利用者は予めこれに同意するものとします。<br>
      法令により認められた場合<br>
      利用者の同意があった場合<br>
      利用者が投稿し、当社が第三者に再利用許諾したプラン等のコンテンツに個人情報が含まれる場合<br>
      個人を識別することができない状態で統計的なデータとして開示・提供する場合<br>
      人の生命、身体または財産の保護のために必要があり、さらに利用者の同意を得るのが困難な場合<br>
      裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を持つ機関から、個人情報の開示を求められた場合<br>
      本サービスの提供において当社が必要と判断した際、弁護士等、当社に対して秘密保持義務を負う者に対して開示する場合<br>
      合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合<br>
    </div>
    <div class="bold mt-3">【第4条 匿名加工情報】</div>
    <div class="medium mt-1">
      当社は、特定の個人を識別することができないように個人情報を加工し、当該個人情報を復元できないようにした情報（以下「匿名加工情報」といいます）を反復、継続的に作成し、当社の関連会社・提携先等の第三者に提供しています。当社が匿名加工情報を取り扱う際には、法令の定めに従い、匿名加工情報取扱事業者等の義務を遵守します。<br>
      a. 匿名加工情報に含まれる項目<br>
      利用者の個人属性情報（投稿コンテンツ）
      b. 第三者提供の方法<br>
      上記aの情報が含まれる電子データを暗号化し、セキュリティが確保された手段で提供します。
    </div>
    <div class="bold mt-3">【第5条 個人情報の取り扱いの委託】</div>
    <div class="medium mt-1">
      当社は、事業運営上、業務委託先に個人情報の取り扱いを委託することがあります。この場合、当社は、個人情報を適切に保護できる管理体制を敷き実行していることを条件として委託先を厳選したうえで、契約等において個人情報の適正管理・機密保持などにより利用者の個人情報の漏えい防止に必要な事項を取り決め、適切な管理を実施させます。
    </div>
    <div class="bold mt-3">【第6条 個人情報の安全管理】</div>
    <div class="medium mt-1">
      当社は、個人情報の漏洩または毀損の防止およびその他個人情報の安全管理が行われるよう、個人情報の適切な監督を行います。当社は、業務遂行に必要な範囲内で、権限を与えられた者のみが個人情報を取り扱います。個人情報の取扱いを外部に委託する場合には、機密保持契約を締結のうえ委託先を監督します。
    </div>
    <div class="bold mt-3">【第7条 本サービス以外での個人情報の管理】</div>
    <div class="medium mt-1">
      本サービスを通じてアクセスできる第三者のサイトおよびサービス等、本サービスからのリンク先のウェブサイトで独自に収集される個人情報の利用については、当社は、関知いたしません。<br>
      そのため、これらの企業またはサイトにおける、独立した規定や活動に対して、当社は一切の義務や責任を負いません。<br>
      それぞれのサイトのプライバシーポリシーを確認してください。
    </div>
    <div class="bold mt-3">【第8条 クッキーの使用】</div>
    <div class="medium mt-1">
      本サービスでは、クッキー（Cookie）と呼ばれる技術を利用しています。<br>
      クッキーとは、特定のテキスト情報を利用者の利用する通信機器に一時的にデータとして保持させ、接続の度にそのデータを基に利用者を識別させる仕組みをいいます。 当社では、クッキーの利用を前提としたサービスを提供しているため、クッキーの利用を許可しない場合、当社の一部のサービスを受けられないことがあります。<br>
      クッキーの利用を許可するかどうかは、利用者のブラウザで設定できます。必要に応じて設定を確認してください。 当社は、利用者に対し、より有用な情報を提供するため、クッキーを含む以下の情報（以下「クッキー等データ」といいます）を取得しています。<br>
      1,クッキーID（ウェブサイトによるクッキー送信の度に付される符号）<br>
      2,利用者がコンピュータ（ブラウザ）により訪問したウェブサイトのページのURL<br>
      3,利用者がコンピュータ（ブラウザ）により閲覧したウェブサイトのページの分類（セグメント）および分析結果等<br>
      4,利用者がコンピュータ（ブラウザ）により訪問したウェブサイト、閲覧したウェブサイトのページその他の遷移および行動の履歴
    </div>
    <div class="bold mt-3">【第9条 端末識別子】</div>
    <div class="medium mt-1">
      当社は、本サービスのiOS版・Android版アプリを利用するスマートデバイス端末から端末識別子（Apple社が発行するIDFAやGoogle社が発行するAAID等の広告識別子を含みます。）を取得、利用することがあります。当社における端末識別子の利用は、利用者のアクセス状況の把握、利用者のニーズに適したサービスの提供、サービスの改善、またはマーケティングリサーチや広告配信の最適化のために行うものとし、その他の目的には一切利用いたしません。<br>
      なお、IDFAやAAIDなどの広告識別子については、広告配信の最適化目的のためにのみ利用いたします。
    </div>
    <div class="bold mt-3">【第10条 位置情報】</div>
    <div class="medium mt-1">
      当社は、本サービスのiOS版・Android版アプリを利用するスマートデバイス端末から利用者の位置情報 (緯度経度情報) を、利用者の同意がある場合に限り取得しています。位置情報は、利用者のニーズに適したサービスの提供、サービスの改善、またはマーケティングリサーチや広告配信の最適化のために行うものとし、その他の目的には一切利用いたしません。
    </div>
    <div class="bold mt-3">【第11条 個人情報の開示、訂正、削除】</div>
    <div class="medium mt-1">
      当社は、個人情報保護法その他の法令等に基づき、個人情報の開示、訂正、追加、削除、利用停止、消去、第三者提供の停止、利用目的の通知の請求に対応いたします。<br>
      請求が本人確認不可能な場合や、個人情報保護法の定める要件を満たさない場合、ご希望に添えない場合があります。<br>
      なお、アクセスログなどの個人情報以外の情報については、原則として開示等はいたしません。
    </div>
    <div class="bold mt-3">【第12条 プライバシーポリシーの更新）】</div>
    <div class="medium mt-1">
      当社は、個人情報保護を図るため、法令等の変更や必要に応じて、本プライバシーポリシーを改訂することがあります。その際は、最新のプライバシーポリシーを本サービスに掲載いたします。本ページを都度ご確認の上、本サービスのプライバシーポリシーをご理解いただくようお願いします。
    </div>
    <div class="bold mt-3">【第13条 プライバシーポリシーに関するお問合せ】</div>
    <div class="medium mt-1">
      当社のプライバシーポリシーに関するお問合せ、個人情報の開示等は、以下お問い合わせまでご連絡お願いします。
    </div>
    <%= link_to "お問い合わせ", contact_path, :style => "color:hotpink;" %>
    
    <div class="right mt-3">
      2020年1月11日　制定
    </div>

  </div>
  