  <div style="background-color:peachpuff; font-weight:bold; height:60px; font-size:130%; line-height:60px; ">
    Pladuce
  </div>
  
  <div style="max-width:700px;">

    <div>
      ━━━━━━□■□　お問い合わせ内容　□■□━━━━━━
    </div>
    
    <div>
      お問い合わせの種類：【<%= @contact.category %>】
    </div>
    <div>
      お名前：【<%= @contact.name %>】
    </div>
    <div>
      メールアドレス：【<%= @contact.email %>】
    </div>
    <div>
      お問い合わせ内容：<%= @contact.content %>
    </div>
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    
  </div>
  
  <div style="background-color:peachpuff; font-size:11px; height:80px; line-height:80px; margin-top:20px; ">
    © pladuce. All rights reserved.
  </div>