  <div style="background-color:peachpuff; font-weight:bold; height:60px; font-size:130%; line-height:60px; ">
    Pladuce
  </div>
  
  <div style="max-width:700px;">
  
    <div>
      <h3>お問い合わせありがとうございます。</h3>
    </div>
    
    ※このメールはシステムからの自動返信です。
    
    <p>以下の内容でお問い合わせを受け付けいたしました。<br>
    担当者が確認を行い順次回答を致しますので今しばらくお待ちください。</p>

    <div>
      ━━━━━━□■□　お問い合わせ内容　□■□━━━━━━
    </div>
    
    <div>
      お問い合わせの種類：【<%= @contact.category %>】
    </div>
    <div>
      お名前：【<%= @contact.name %>】
    </div>
    <div>
      メールアドレス：【<%= @contact.email %>】
    </div>
    <div>
      お問い合わせ内容：<%= @contact.content %>
    </div>
    ━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  

    <p style="font-size:11px; margin-top:20px;">
    ※本メールにお心当たりのない方は、大変お手数ではございますが、メールを破棄してくださいますようお願い申し上げます。
    </p>
    
  </div>
  
  <div style="background-color:peachpuff; font-size:11px; height:80px; line-height:80px; margin-top:20px; ">
    © pladuce. All rights reserved.
  </div>