/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui.min
 *= require jquery.tagsinput.min
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */


body{
  font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif; 
  overflow-x: hidden;
}
.container-fluid {
  max-width: 1340px;
}
h1 {
  font-size: 170%;
  font-weight: bold;
}
h2 {
  font-size: 150%;
  font-weight: bold;
  line-height: 1.4;
  border-bottom: solid 3px deeppink;
}
h3 {
  font-size: 150%;
  font-weight: bold;
  line-height: 2;
  border-bottom: solid 3px deeppink;
}
h4 {
  font-size: 110%;
  font-weight: bold;
}

a {color:black; text-decoration:none }
a:hover {
    text-decoration: none;
    color: pink;
}
.a a{
color: hotpink;  
}
.a a:hover{
color: pink;  
}
.use_icon{
  display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div {
  word-break: break-word;
}

.btn-coral,
.btn-coral.disabled, .btn-coral:disabled {
  color: #fff;
  background-color: tomato;
  border-color: tomato;
}

.btn-plan,
.btn-plan.disabled, .btn-plan:disabled {
  font-size: 14px;
  background-color: #FF1493;
  border-color: #FF1493l;
  border-radius: 12px;
  height: 39px;
  padding-top: 0px;
}
.btn-plan img {
  width: 22px;
  margin-right: 3px;
  padding-bottom: 3px;
}
.web-flex {
  display: flex;
}
.web-mt40 {
  margin-top: 40px;
}
.web-mt20 {
  margin-top: 20px;
}
.web-mt10 {
  margin-top: 10px;
  margin-right: -4px;
}
.web-mt-15 {
  margin-top: -15px;
}
.web-mt-8 {
  margin-top: -8px;
}
.web-pb3 {
  margin-bottom: 3px;
}
.web-mr-7 {
  margin-right: -7px;
}

.web-center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
}
.medium {
  font-size: 15px;
}
.xsmall {
  font-size: 12px;
}
.xxsmall {
  font-size: 10px;
}
.bold {
  font-weight: bold;
}
.right {
  text-align: right;
}
.bg-gray {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 40px 40px 25px 40px;
}
.web-gray {
  color: gray;
}
.red {
  color: red;
}
.tag {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: pink;
  border: solid 1px pink;
  border-radius: 4px;
}
.tag a {
  color: white;
}
.image-gold img {
  /*width: 276px;*/
  /*height: 276px;*/
  width: 100%;
  height: 171px;
  border-radius: 3%;
  object-fit: cover;  
}
.image-gold img:hover {
	opacity: 0.6 ;
}
.hr{
  background-color:deeppink;
  height:5px;
}
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}
.navbar-light .navbar-toggler :hover{
  color: white;
}

/*--------------------------------------------------------------breadcrumbs-----*/
.breadcrumbs, .breadcrumbs a {
  color: gray;
}
.breadcrumbs a:hover {
  color: pink;
}

/*------------------------------------------------------------------navbar-----*/
.btn-search,
.btn-search.disabled, .btn-search:disabled {
  font-size: 14px;
  background-color: #FF1493;
  border-color: #FF1493l;
  border-radius: 4px;
  height: 38px;
  padding-top: 7px;
}
.nav-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.nav-icon {
  padding-top: 16px;
}
.nav-icon img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}
.news {
  font-size: 30px;
  color: #D3D3D3;
}
.navi {
  margin-top: 10px;
  margin-right: 12px;
  font-size: 95%;
}

/*------------------------------------------------------------mypage----------*/
.mypage-left {
  text-align: center;
}
.myname {
  font-weight: bold;
}
.mypage-ul {
  font-weight: bold;
  text-align: center;
	display: block;
	line-height: 2;
}
.mypage-ul ul {
  padding-left: 0;
	list-style: square;
	display: inline-block;
}
.mypage-ul ul li {
  text-align: left;
}

.mypage-center {
  font-weight: bold;
}
.mypage_right {
  text-align: center;
}
.mypage_right img{
  width: 100%;
}
.news-title {
  color: white;
  background-color: lightpink;
  padding: 10px 0;
  margin: 0px 10px;
  border-radius: 10px 10px 0px 0px;
}
.news-body {
  padding: 10px 16px;
  margin: 0px 10px;
}
/*-----------------------------------------------------------------------toppage----------*/
/*---------------------------------------------------------------topic-----*/
.span2box {
  display: block;
  height: 36px;
  background-color: yellow;
  font-size: 115%;
  text-align: center;
  padding-top: 2px;
}
a .span2box{
  font-weight: bold;
  color: black;
}
a:hover .span2box {
  color: rgba(0,0,0,0.5);
}

/*--------------------------------------------------------------slide-show-----*/
.slide-image img{
  height: 450px;
  width :100%;
  object-fit: cover; 
}
.slide-title {
   position: relative;
   width: 50%;
}
.slide-title p {
  position: absolute;
  /*background-color: rgba( 204, 255, 204, 0.35 );*/
  color: white;
  font-weight: bold;
  font-size: 110%;
  right: 0;
  left: 0;
  margin: auto;
  padding: 15px;
  top: 390px;
  text-shadow: 0px 0px 10px #3d3d3d;
}
.mypattern .slick-slide:not(.slick-center) {
  -webkit-filter: opacity(70%);
  -moz-filter: opacity(70%);
  -o-filter: opacity(70%);
  -ms-filter: opacity(70%);
  filter: opacity(70%);
  transition: 0.2s linear;
}

/*------------------------------------------------------------------top-----*/
.category_item {
  font-weight: bold;
  margin-bottom: 1px;
}
.category_item img {
  width: 20px;
  padding-bottom: 5px;
  margin-right: 7px;
  margin-left: 15px;
}
.area_top {
  line-height: 1;
  margin-left: 15px;
}
.tag_top a{
  font-size: small;
}
.words a{
  color: dodgerblue;
}
.words a:hover{
  color: white;
}
.keywords{
  border:solid 1px hotpink;
  padding: 3px 7px 3px 7px;
  margin: 1px;
  display: inline-block;
  border-radius: 3px;
}
.keywords a{
  color: hotpink;
}
.keywords a:hover{
  color: white;
  background-color: pink;
}
.keywords:hover{
  background-color: pink;
  color: white;
}
#plan-tags {
  border-color: gold;
}
.top-planimage {
}
.top-planimage img {
  /*width: 245px;*/
  /*height: 151px;*/
  width: 100%;
  height: 151px;
  border-radius: 3%;
  object-fit: cover; 
  padding-left: 3px;
  padding-right: 3px;
}
.top-planimage img:hover {
	opacity: 0.6 ;
}
.top-plantitle {
  font-weight: bold;
  font-size: 12px;
  padding-top: 10px;
  /*width: 241px;*/
}
.newplan_title {
  font-size: 22px;
  font-weight: bold;
}
.newplan_title img {
  width: 30px;
  margin-right: 5px;
  padding-bottom: 4px;
}
.top-username {
  text-align: center;
}
.top-user img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.topitem {
  margin-left: 10px;
  line-height: 1.5;
}

/*--------------------------------------------------------プランナー詳細-----*/
.circle-image img {
  /*width: 150px;*/
  /*height: 150px;*/
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
.circle-image150 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.circle-image130 img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.planshow {
  font-weight: bold;
}
.border-b {
  border-bottom: solid 3px deeppink;
  margin: 0px;
}

/*-----プラン投稿-----*/
.plan-image img {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

/*----------------------------------------------------------プラン投稿-----*/
.required {
  color: #E00;
 font-weight: bold; 
}
.plan-submit-row {
  background-color: lightyellow;
}
.plan-submit {
  padding: 7px 15px 7px 15px;
  display: flex;
  justify-content: space-between;
}
.prev img{
  object-fit: cover;
}

/*-----------------------------------------------------------プラン詳細-----*/
.planshow-image img {
  width: 100%;
  height: 530px;
  object-fit: cover;
}
.schedule_time {}
.end_time {}
.schedule_title {
  font-weight: bold;

}
#schedule_title {}

.schedule_access {
  line-height: 1;
}
.time {
  padding-top: 2px;
}

.row-0{ margin-left:0px;  margin-right:0px}
.row-0 >div{ padding-right:0px;  padding-left:0px}
.image_box {
}
.box3 img {
  width: 100%;
  height: 398px;
  object-fit: cover;
}
.box3-2 img {
  width: 100%;
  height: 198px; 
  object-fit: cover;
}
.box2 img {
  width: 100%;
  height: 398px;
  object-fit: cover;
}
.box2-2 img {
  width: 100%;
  height: 398px; 
  object-fit: cover;
}
.box1 img {
  width: 100%;
  height: 498px;
  object-fit: cover;
}

.sub_title {
  font-size: 110%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.plan-details_container {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 10px 20px;
  line-height: 2;
}
.spot-details_container {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 20px 7px 7px 15px;
}

.schedule_links a {
  color: white;
  font-size: 13px;
}

.container_right {
  /*background-color: yellow;*/
}
.plan_edit {
  border-radius: 10px;
}
.introduce {
  padding: 0.5em 1em;
  border: solid 1px gray;
  border-radius: 10px;
}
.introduce p {
  margin: 0; 
  padding: 0;
}
.introduce img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;  
}
.introduce-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  /*margin-left: 40px;*/
  /*margin-bottom: 20px;*/
}
.introduce-name p {
  font-size: 10px;
  color: gray;
}
.follow-btn {
  font-size: 11px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: orange;
  border: solid 1px orange;
  border-radius: 4px;
  font-weight: bold;
}

.follow-btn:active {
  /*押したとき*/
  border: solid 1px #CCFFFF;
}
.fa-clock {
  color: gray;
  margin-right: 3px;
}

.icon {
  font-size: 19px;
}
.instaicon {
  color: #CF2E92;
}
.lineicon {
  color: #00B900;
}
.twicon {
  color: #00acee;
}
.fbicon {
  color: #3C5A99;
}
.likeicon {
  color: hotpink;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 4px;
}
.likeicon:hover {
  color: pink;
}
.likeiconed {
  color: red;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 4px;
}
.likeiconed:hover {
  color: pink;
}
.relation-planimage {
  padding: 0px;
  padding-left: 3px;
}
.relation-planimage img {
  width: 100%;
  height: 117px;
  border-radius: 3%;
  padding-left: 3px;
  padding-right: 3px;
  object-fit: cover; 
}
.side-planimage img {
  width: 100%;
  height: 98px;
  border-radius: 3%;
  object-fit: cover; 
}
.side-planimage img:hover {
	opacity: 0.6 ;
}




/*----------------------------------------------------------------footer-----*/
footer {
  background-color: #D3D3D3;
}
footer a:hover{
  color: white;
}
footer img {
  width: 100%;
}
.copy {
  background-color: #FF1493;
  color: white;
}
.footer {
  display: block;
  text-align: center;
}
.footer ul{
  display: inline-block;
  padding-left: 0;
}
.footer ul li{
  text-align: left;
}
.footer p{
  text-align: left;
	display: inline-block;
}

/*--------------------------------------------------------------サポート-----*/
.company {
  background-color: peachpuff;
  border-radius: 10px;
  padding: 40px 40px 25px 40px;
  margin-bottom: 100px;
}
.quitbg {
  background-color: #eeeeee;
  padding: 5px;
}
.faq {
  font-size: 120%;
  font-weight: bold;
  border-bottom: solid 2px pink;
  line-height: 2;
}
/*------------------------------------------------------------------認証-----*/
.thanks {
  color: deeppink;
}

/*------------------------------------------------------ページネーション-----*/
.pagination>li>a {          
  border: none;
  color: #696969;
}
/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 1px;
  margin-top: 2px;
  color: pink;
}
/*ホバー時のデザイン*/
.pagination>li>a:hover {      
  color: hotpink;
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 1px;
  margin-top: 2px;
}
.page-item.active .page-link{
  background-color: pink;
}

/*--------------------------------------------------------------max-with992px----------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) {

.small-tb {
  font-size: 85%;
}
.xsmall-tb {
  font-size: 70%
}
/*-------------------------------------------------------slide-show-----*/
.slide-image img{
  height: 430px;
}
.slide-title p {
  /*font-size: 90%;*/
  top: 350px;
}

.planshow-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
.box1 img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.prev img{
  width: 100%;
  object-fit: cover;
}
.prev label{
  border:solid 1px lightgray;
  background-color: whitesmoke;
  padding: 3px 8px 3px 8px;
  border-radius: 1px;
  margin-top: 3px;
  border-radius: 3px;
}
.upload {
  display: none;
}

}

/*--------------------------------------------------------------max-with768px----------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
.container-fluid {
  max-width: 768px;
}
h2 {
  font-size: 140%;
}
.medium-tb {
  font-size: 90%;
}
.small-tb {
  font-size: 75%;
}
.xsmall-tb {
  font-size: 60%
}
.h3-tb {
  font-size: 110%;
  font-weight: bold;
}
/*input::-webkit-input-placeholder {*/
/*    font-size: 75%;*/
/*}*/
/*---------------------------------------------------------------navbar-----*/
.navi {
  margin-top: 10px;
  margin-right: 12px;
  font-size: 95%;
  text-align: center;
  border-bottom: solid 1px gainsboro;
  padding-bottom: 3px;
}
.btn-plan {
  margin-top: 10px;
}
.use_icon {
  font-size: 80%;
}
/*---------------------------------------------------------------topic-----*/
.span2box {
  height: 30px;
  font-size: 100%;
  padding-top: 3px;
}
/*-------------------------------------------------------slide-show-----*/
.slide-image img{
  height: 360px;
}
.slide-title {
   width: 70%;
}
.slide-title p {
  font-size: 85%;
  padding: 15px;
  top: 295px;
}
/*---------------------------------------------------------------toppage-----*/
.top-planimage img {
  width: 100%;
  height: 130px;
  border-radius: 6%;
  object-fit: cover; 
  padding-left: 3px;
  padding-right: 3px;
}
.tag {
  font-size: 60%;
}
.top-username {
  font-size: 70%
}
.category_item {
  font-size: 90%;
  margin-bottom: 1px;
}
.category_item img {
  width: 18px;
  padding-bottom: 5px;
  margin-right: 7px;
  margin-left: 0px;
}
.side-title {
  font-size: 70%;
}
.area_top {
  line-height: 1;
  margin-left: 0px;
}
.topitem {
  font-size: 70%;
  margin-left: 0px;
  line-height: 1.5;
}
.toptag {
  font-size: 65%;
}
/*------------------------------------------------------------------プラン詳細-----*/

.planshow-image img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.box3 img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.box3-2 img {
  width: 100%;
  height: 110px; 
  object-fit: cover;
}
.box2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.box2-2 img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
}
.box1 img {
  width: 100%;
  height: 300px;
}
.sub_title {
  font-size: 90%;
  margin-top: 20px;
}
.relation-planimage img {
  width: 100%;
  height: 100px;
  border-radius: 6%;
}
.newplan_title {
  font-size: 110%;
}
.newplan_title img {
  width: 26px;
}
.text-right {
  font-size: 50%;
}
/*.plan-details_container {*/
/*  line-height: 1.5;*/
/*}*/

.image-gold img {
  width: 100%;
  height: 150px;
  border-radius: 6%;
}

/*------------------------------------------------------------mypage----------*/
.mypage-ul {
  /*font-size: 90%;*/
  font-weight: bold;
  text-align: center;
	display: block;
	line-height: 2;
}
.mypage-ul ul {
  padding-left: 10px;
	list-style: square;
	display: inline-block;
}
.mypage-ul ul li {
  text-align: left;
}
.tag {
  font-size: 60%;
}

.prev img{
  width: 100%;
  object-fit: cover;
}
.prev label{
  border:solid 1px lightgray;
  background-color: whitesmoke;
  padding: 3px 8px 3px 8px;
  border-radius: 1px;
  margin-top: 3px;
  border-radius: 3px;
}
.upload {
  display: none;
}



  
  
  
  
}

/*--------------------------------------------------------------max-with767px----------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
.use_icon {
  font-size: 50%;
}
.toptag {
  font-size: 50%;
}


  
}

/*--------------------------------------------------------------max-with576px----------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 576px) {
  
.container-fluid {
  max-width: 576px;
}
body {

}
h1 {
  font-size: 100%;
  font-weight: bold;
}
h2 {
  font-size: 116%;
  line-height: 1.3;
  padding-bottom: 3px;
}
h3 {
  font-size: 116%;
  line-height: 1.3;
  padding-bottom: 3px;
}
h4 {
  font-size: 105%;
}

.sp-medium {
  font-size: 14px;
}

.use_icon {
  font-size: 80%;
}

/*------------------------------------------------------------------navbar-----*/


/*------------------------------------------------------------------toppage-----*/
/*---------------------------------------------------------------topic-----*/
.span2box {
  height: 21px;
  font-size: 90%;
}
/*-------------------------------------------------------slide-show-----*/
.slide-image img{
  height: 180px;
}
.slide-title {
   width: 50%;
}
.slide-title p {
  font-size: 56%;
  padding: 11px;
  top: 130px;
}
/*-------------------------------------------------------top-----*/
.top-planimage img {
  width: 100%;
  height: 130px;
  border-radius: 3%;
  object-fit: cover; 
  padding-left: 3px;
  padding-right: 3px;
}
.newplan_title {
  font-size: 18px;
}
.newplan_title img {
  width: 25px;
}
.top-plantitle {
  font-weight: bold;
  font-size: 12px;
  padding-top: 10px;
}
.circle-image-sp img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;

}
.circle-image-sp {
  padding-left: 4px;
  padding-right: 4px;
}
.circle-image-sp100 img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;

}
.circle-image-sp100 {
  padding-left: 4px;
  padding-right: 4px;
}
.img-_scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: -ms-flexbox;
  display: flex;
}
.line {
  height: 10px;
  background-color: seashell;
}
.top-item {
  border-bottom: solid 1px gainsboro;
  position: relative;
}
.top-item a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 43px;
}
.category_item {
  font-weight: bold;
  margin-bottom: 1px;
}
.accbox {
}

/*ラベル*/
.accbox label {
    display: block;
    background :white;
    cursor :pointer;
    transition: all 0.5s;
    border-bottom: solid 1px gainsboro;
    padding-bottom: 3px;
}

/*ラベルホバー時*/
.accbox label:hover {
    background :white;
}

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: 20px;
    background: white;
    opacity: 1;
    margin-bottom: 7px;
}
.accshow a{
  color: gray;
}

/*--------------------------------------------------------マイページ-----*/
.top-planimage img {
  width: 100%;
  height: 151px;
}
.post {
  display: block;
  background-color:deeppink;
  color: white;
  padding: 4px 0px;
  border-radius: 6px;
}
.post img{
  width: 22px;
  padding-bottom: 2px;
  margin-right: 3px;
}
.menu {
  border-bottom: solid 1px gainsboro;
}

/*--------------------------------------------------------プランナー詳細-----*/
.circle-image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

/*------------------------------------------------------------------キーワード詳細ページ-----*/
.image-gold img {
  width: 100%;
  height: 230px;
  border-radius: 3%;
  object-fit: cover;  
}

/*------------------------------------------------------------------プラン投稿-----*/
.planimg img{
  height: 150px;
  object-fit: cover;
}
.plan-image img{
  width: 100%;
  height: 130px;
  object-fit: cover;
  
}
.fileup label{
  border:solid 1px lightgray;
  background-color: whitesmoke;
  padding: 3px 8px 3px 8px;
  border-radius: 1px;
  margin-top: 3px;
}
.upload {
  display: none;
}

/*------------------------------------------------------------------エリア詳細ページ-----*/
/*ボタン装飾*/
.hidden_box label {
  display: block;
  font-weight: bold;
  cursor :pointer;
  margin-bottom: 0px;
  font-size: 90%;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    height: auto;
    opacity: 1;
    margin-top: 5px;
}
.hidden_show {
}


/*------------------------------------------------------------------プラン詳細-----*/
.planshow-image img {
  width: 100%;
  height: 238px;
  object-fit: cover;
}
.spot-details_container {
  line-height: 1.3;
}
.plan-details_container {
  line-height: 1.5;
}
.box3 img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.box3-2 img {
  width: 100%;
  height: 98px; 
  object-fit: cover;
}
.box2 img {
  width: 100%;
  height: 238px;
  object-fit: cover;
}
.box2-2 img {
  width: 100%;
  height: 238px; 
  object-fit: cover;
}
.box1 img {
  width: 100%;
  height: 238px;
}
.relation-planimage img {
  width: 100%;
  height: 117px;
  border-radius: 3%;
}

/*------------------------------------------------------ページネーション-----*/
/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 3px;
}
/*ホバー時のデザイン*/
.pagination>li>a:hover {      
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 3px;
}


/*-------------------------------------------------------footer-----*/
.sns {
  font-size:40px; 
}
.foot {
  border:solid 1px gray;
  background-color: white;
}



  
  
}



