/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui.min
 *= require jquery.tagsinput.min
 *= require_self
 */


body{
  font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif; 
  overflow-x: hidden;
}
.container-fluid {
  width: 1340px;
}

h2 {
  font-size: 170%;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  line-height: 2;
  border-bottom: solid 3px deeppink;
}
h4 {
  font-size: 110%;
  font-weight: bold;
}

a {color:black; text-decoration:none }
a:hover {
    text-decoration: none;
    color: pink;
}
.a a{
color: hotpink;  
}
.a a:hover{
color: pink;  
}

.btn-coral,
.btn-coral.disabled, .btn-coral:disabled {
  color: #fff;
  background-color: coral;
  border-color: coral;
}
.btn-plan,
.btn-plan.disabled, .btn-plan:disabled {
  font-size: 14px;
  background-color: #FF1493;
  border-color: #FF1493l;
  border-radius: 12px;
  height: 39px;
  padding-top: 0px;
}
.btn-plan img {
  width: 22px;
  margin-right: 3px;
  padding-bottom: 3px;
}
.web-flex {
  display: flex;
}
.web-mt40 {
  margin-top: 40px;
}
.web-mt20 {
  margin-top: 20px;
}
.web-mt10 {
  margin-top: 10px;
  margin-right: -4px;
}
.web-mt-15 {
  margin-top: -15px;
}
.web-mt-8 {
  margin-top: -8px;
}
.web-pb3 {
  margin-bottom: 3px;
}
.web-mr-7 {
  margin-right: -7px;
}

.web-center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
}
.xsmall {
  font-size: 12px;
}
.bold {
  font-weight: bold;
}
.right {
  text-align: right;
}
.bg-gray {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 40px 40px 25px 40px;
}
.web-gray {
  color: gray;
}
.tag {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: pink;
  border: solid 1px pink;
  border-radius: 4px;
}
.tag a {
  color: white;
}


/*-----breadcrumbs-----*/
.breadcrumbs, .breadcrumbs a {
  color: gray;
}
.breadcrumbs a:hover {
  color: pink;
}

/*-----navbar-----*/
.btn-search,
.btn-search.disabled, .btn-search:disabled {
  font-size: 14px;
  background-color: #FF1493;
  border-color: #FF1493l;
  border-radius: 4px;
  height: 38px;
  padding-top: 7px;
}
.nav-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/*----------mypage----------*/
.mypage-left {
  text-align: center;
}
.myname {
  font-weight: bold;
}
.mypage-ul {
  font-weight: bold;
  text-align: center;
	display: block;
	line-height: 2;
}
.mypage-ul ul {
  padding-left: 0;
	list-style: square;
	display: inline-block;
}
.mypage-ul ul li {
  text-align: left;
}

.mypage-center {
  font-weight: bold;
}
.mypage_right {
  text-align: center;
}
/*----------toppage----------*/
/*-----topic-----*/
.span2box {
  display: block;
  height: 36px;
  background-color: yellow;
  font-size: 115%;
  text-align: center;
  padding-top: 2px;
}
a .span2box{
  font-weight: bold;
  color: black;
}
a:hover .span2box {
  color: rgba(0,0,0,0.5);
}

/*-----slide-show-----*/
.slide-image img{
  height: 414px;
  width :100%;
}
.slide-title {
   position: relative;
   width: 50%;
}
.slide-title p {
  position: absolute;
  /*background-color: rgba( 204, 255, 204, 0.35 );*/
  color: white;
  font-weight: bold;
  font-size: 100%;
  right: 0;
  left: 0;
  margin: auto;
  padding: 15px;
  top: 350px;
  text-shadow: 0px 0px 10px #3d3d3d;
}
.mypattern .slick-slide:not(.slick-center) {
  -webkit-filter: opacity(70%);
  -moz-filter: opacity(70%);
  -o-filter: opacity(70%);
  -ms-filter: opacity(70%);
  filter: opacity(70%);
  transition: 0.2s linear;
}

/*-----top-----*/
.category_top {
}
.category_item {
  font-weight: bold;
  margin-bottom: 1px;
}
.category_item img {
  width: 20px;
  padding-bottom: 5px;
  margin-right: 7px;
  margin-left: 15px;
}
.area_top {
  line-height: 1;
  margin-left: 15px;
}
.tag_top a{
  font-size: small;
}
.top-planimage {
}
.top-planimage img {
  width: 240px;
  height: 135px;
}
.top-plantitle {
  font-weight: bold;
  font-size: 12px;
  padding-top: 10px;
  width: 241px;
}
.newplan_title {
  font-size: 22px;
  font-weight: bold;
}
.newplan_title img {
  width: 30px;
  margin-right: 5px;
  padding-bottom: 4px;
}
.top-username {
  text-align: center;
}
.top-user img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}


/*-----プランナー詳細-----*/
.circle-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.circle-image130 img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.planshow {
  font-weight: bold;
}

/*-----プラン投稿-----*/
.plan-image img {
  height: 150px;
  width: 200px;
}

/*-----プラン投稿-----*/
.required {
  color: #E00;
 font-weight: bold; 
}

/*-----プラン詳細-----*/
.planshow-image img {
  width: 100%;
  height: auto;
}
.schedule_time {}
.end_time {}
.schedule_title {
  font-weight: bold;
  margin-left: 30px;
}
#schedule_title {}

.schedule_access {
  line-height: 1;
}


.row-0{ margin-left:0px;  margin-right:0px}
.row-0 >div{ padding-right:0px;  padding-left:0px}
.image_box {
}
.box3 img {
  width: 100%;
  height: 398px;
}
.box3-2 img {
  width: 100%;
  height: 198px; 
  object-fit: cover;
}
.box2 img {
  width: 100%;
  height: 398px;
  object-fit: cover;
}
.box2-2 img {
  width: 100%;
  height: 398px; 
  object-fit: cover;
}
.box1 img {
  width: 100%;
  height: 498px;
}

.sub_title {
  font-size: 110%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.plan-details_container {
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 10px 20px;
  line-height: 2;
}
.spot-details_container {
  border-radius: 10px;
  line-height: 0.3;
  background-color: #eeeeee;
  padding: 20px 20px 5px;
}

.schedule_links a {
  color: white;
  font-size: 13px;
}

.container_right {
  /*background-color: yellow;*/
}
.plan_edit {
  border-radius: 10px;
}
.introduce {
  padding: 0.5em 1em;
  border: solid 1px gray;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.introduce p {
  margin: 0; 
  padding: 0;
}
.introduce img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;  
}
.introduce-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 20px;
}
.introduce-name p {
  font-size: 10px;
  color: gray;
}
.follow-btn {
  font-size: 11px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: orange;
  border: solid 1px orange;
  border-radius: 4px;
  font-weight: bold;
}

.follow-btn:active {
  /*押したとき*/
  border: solid 1px #CCFFFF;
}
.fa-clock {
  color: gray;
  margin-right: 3px;
}

.icon {
  font-size: 19px;
}
.instaicon {
  color: #CF2E92;
}
.lineicon {
  color: #00B900;
}
.twicon {
  color: #00acee;
}
.fbicon {
  color: #3C5A99;
}
.likeicon {
  color: hotpink;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 4px;
}
.likeicon:hover {
  color: pink;
}
.likeiconed {
  color: red;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 4px;
}
.likeiconed:hover {
  color: pink;
}




/*-----footer-----*/
footer {
  background-color: #D3D3D3;
}
.copy {
  background-color: #FF1493;
}
