  <div class="container">

    <p class="newplan_title mt-4"><img src="../assets/icon_new.png">新着のプラン　<span class="small"><%= Plan.count %>件</span></p>
    
    <div class="web-flex row">
      <% @plans.each do |plan| %>
      <div class="top-planimage col-md-3">
        <%= link_to image_tag(plan.image.to_s), plan_path(plan) %>
        <p class="top-plantitle"><%= plan.plan_title.truncate(42) %></p>
      </div>
      <% end %>
    </div>
    
    <div class="pagination justify-content-end pagination-sm">
      <%= paginate @plans %>
    </div>
    
  </div>
  
  
