  <div class="container">
    <div class="web-flex row web-mt40">
      <% @plans.each do |plan| %>
        <div class="top-planimage col-md-3">
        <%= link_to image_tag(plan.image.to_s), plan_path(plan) %>
        <p class="top-plantitle"><%= link_to plan.plan_title.truncate(42), plan_path(plan) %></p>
        </div>
      <% end %>
    </div>
  
    <div class="pagination justify-content-end pagination-sm">
      <%= paginate @plans %>
    </div>
    
  </div>