<div class="container">
  <form>
  <div class="form-row align-items-center">
    <div class="col-md-3">
      <label class="sr-only" for="text5a">First Name</label>
      <input type="text" class="form-control mb-3 mt-4" id="text5a" placeholder="行先を選択">
    </div>
    <div class="col-md-3">
      <label class="sr-only" for="text5b">Last Name</label>
      <input type="text" class="form-control mb-3 mt-4" id="text5b" placeholder="カテゴリを選択">
    </div>
    <div class="col-md-3">
      <label class="sr-only" for="text5b">Last Name</label>
      <input type="text" class="form-control mb-3 mt-4" id="text5b" placeholder="予算を選択">
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-coral mb-3 mt-4 w-100">プランを検索</button>
    </div>
  </div>
</form>
</div>